@import "../../../variables";

// Sidhuvud
header {
    background-color: $mainLine-color;
    color: $main-background;
    @include flexBox(space-around, center, row);
    width: 100%;
    padding: 4% 0;
    border: 3px solid $main-background;
    color: $mainLine-color;
}
h1 {
    a{
        text-decoration: none;
        color: $main-background;
        &:hover {
            color: $hover-color;
            text-decoration: underline;
        }
    }
}

// Navigerings-meny
#nav-menu {
    margin: 0 4%;
}

.nav-list {
    list-style-type: none;
    @include flexBox(space-evenly, center, row);
    
    li {
        margin: 0 4%;
    }
    li a {
        text-decoration: none;
        color: $main-background;
        padding: 0 2%;
        white-space: nowrap;
        &:hover {
            color: $hover-color;
            text-decoration: underline;
        }
    }
    li .actual-side {
        color: $hover-color;
        text-decoration: underline;
    }
}

// Dölj meny-knappar
.menu-btn {
    display: none;
}



// Stilsättningar för mindre skärmer
@media screen and (max-width: 800px) {
    
    $line-size: 1em;

    // Öppna och stänga menyn
    #nav-menu {
        // z-index: 3;
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        background-color: $mainLine-color;
        width: 75%;
        margin: 0;
    }
    // meny-knappar i mobilläge
    .menu-btn {
        display: block;
        background-color: $mainLine-color;
        padding: 0.5%;
        cursor: pointer;
        .menu-icon {
            @include flexBox(center, center, column);
        }
        .bars {
            margin: 5% 0;
            padding: 6% 30%;
            background-color: $main-background;
        }
        .menu-text {
            margin: 1% 0;
            color: $main-background;
        }
        &:hover {
            background-color: $hover-color;
        }
    }
    #open-btn {
        position: absolute;
        right: 1%;
        top: 0;
    }
    // Stäng-knapp
    #close-btn {
        margin: 1% 1.5em;
        // position: absolute;
        border-radius: 50%;
        padding: 3%;
        align-self: flex-end;
        .menu-icon {
            margin: 25% 0;
            
        }
        .cross1 {
            width: 20px;
            transform: rotate(45deg);
            margin-top: 20%;
            top: 1%;
            position: relative;
        }
        .cross2 {
            width: 20px;
            transform: rotate(135deg);
            margin-top: -18%;
            top: 1%;
            position: relative;
        }
        
    }
    
    // Navigeringslista
    .nav-list {
        @include flexBox(space-around, center, column);
        
        top: 0;
        right: 0;
        background-color: $mainLine-color;
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    
    

}