<main>
    
    <img src="./images/main-picture.jpg" alt="Bild av bord som har glas och bestick på" class="main-pic">

    <h2>
        Om oss - t<em class="fa-regular fa-heart"></em>m Deli
    </h2>

    <section>
        <h3>Vem är vi?</h3>
        <p>
            Vi är en liten, passionerad restaurang mitt i hjärtat av staden som drivs av kärleken till mat, människor och möten. Vår resa började med en enkel idé: att skapa en plats där gäster känner sig lika hemma som vid sitt eget köksbord, men med smaker som överraskar.
            <br>
        </p>
    </section>

    <section>
        <h3>
            Vad erbjuder vi?
        </h3>
        <p>
            Pasta, pizza, wraps, drycker och mycket mer alltid med möjlighet att anpassa efter dina önskemål. Vi erbjuder även catering, företagsluncher och specialmenyer vid högtider.
        </p>
    </section>

    <section>
        <h3>
            Kontakta oss
        </h3>
        <p>
            Har du frågor, vill boka bord eller bara säga hej? Vi finns här för dig, oavsett om du vill planera en middag, beställa catering eller ge oss feedback.

            <br>

            <em class="fa-solid fa-phone"></em> 011-123456
            <br>
            <em class="fa-regular fa-envelope"></em> contact&#64;tmdeli.se
            <br>
            <em class="fa-solid fa-location-dot"></em> Gamla Rådstugugatan 10, 602 24 Norrköping
        </p>
    </section>
</main>