fieldset {
    width: 80%;
    margin: 1% auto;
}

form {
    width: 50%;
    margin: 1% auto;
    padding: 1%;
    input {
        font-size: 1em;
    }
}

// Stilsättningar för mindre skärmer
@media screen and (max-width: 800px) {

    form {
        width: 50%;
        margin: 1% auto;
        padding: 1%;
        input {
            font-size: 1em;
            width: 90%;
        }
    }

}
