<main>
    
    <img src="./images/main-picture.jpg" alt="Bild av bord som har glas och bestick på" class="main-pic">

    <h2>Startsida</h2>
    <section>
        <h3>Välkommen till t<em class="fa-regular fa-heart"></em>m Deli</h3>
        <p>
            Hos oss möts du av doften av nybakat, ljudet av skratt och smaken av omsorg. Vi är en familjeägd restaurang i hjärtat av Norrköping som brinner för god mat, lokala råvaror och äkta service.
            <br>
            Oavsett om du är sugen på en krämig pasta, en vedugnsbakad pizza eller en fräsch wrap, så lagar vi allt från grunden med kärlek och kvalitet.
        </p>

        <h4><em class="fa-regular fa-clock"></em>Öppettider</h4>
        <p>
            Måndag-Fredag: 11:00-21:00
            <br>
            Lördag-Söndag: 12:00-22:00
        </p>

        <h4>Boka ett bord</h4>
        <p>
            Du kan gärna ringa oss för att boka ett bord eller direkt i vår sida. <a href="/reservation">Boka ett bord</a>
        </p>

        <h4>
            <em class="fa-solid fa-location-dot"></em>Adress:
        </h4>
        <p>
            Gamla Rådstugugatan 10, 602 24 Norrköping
        </p>
    </section>
    
</main>