/* You can add global styles to this file, and also import other style files */
@import "variables";

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1400px;
    margin: auto;
    font-family: $line-family;
    font-size: $line-size;
    line-height: $line-height;
    color: $mainLine-color;
    background-color: $main-background;
    border: 1px solid black;
}

main {
    min-height: 1000px;
    margin:1% auto;
    padding: 0;
    width: 100%;
    max-width: 800px;
    a {
        text-decoration: none;
        color: $mainLine-color;
        &:hover {
            text-decoration: underline;
            color: $hover-color;
        }
    }
    input {
        margin: 1% 0;
    }
    h2 {
        text-align: center;
    }
    h3 {
        margin: 2% 0;
    }
    .main-pic {
        margin-top: 0;
        width: 100%;
        height: 400px;
    }
}

fieldset {
    margin: 1% auto;
    width: 80%;
}
form {
    padding: 0 1%;
    width: 80%;
    margin: 0 auto;
    input {
        font-size: $line-size;
    }
}

// Maxbred för paragrafer
p {
    max-width: 60ch;
    margin: 1% 0;
}

// Knappar
button {
    margin: 1%;
    padding: 1% 2%;
    background-color: $mainLine-color;
    color: $main-background;
    cursor: pointer;
    &:hover {
        background-color: $hover-color;
    }
}

// Stilsättningar för mindre skärmer
@media screen and (max-width: 800px) {
    
    $line-size: 0.8em;
    body {
        font-size: $line-size;
    }
    main {
        .main-pic {
            height: 200px;
        }
        section {
            padding: 0 1%;
        }
        button {
            margin: 4% 0;
        }
    }
    
}